[submodule "themes/github-style"]
	path = themes/github-style
	url = git@github.com:MeiK2333/github-style.git
[submodule "themes/JuiceBar"]
	path = themes/JuiceBar
	url = https://github.com/hotjuicew/hugo-JuiceBar.git
